body{
    background: url('/src/image/20180514103422.jpg');
    background-size: cover;
    color: #fff;
    font-size: 30px;
    h1,h2,h3{
        border: 30px solid #999;
        color: #fff;
    }
    a{
        color: #fff;
    }
}